body{
    background-color: #0B131E !important;
    scrollbar-width: thin;/* Firefox */
  scrollbar-color: #0095FF #f1f1f1; /* Firefox */
}
@keyframes mymove {
    from {left: -100px;}
    to {left: 0;}
  }
@media screen and (max-width : 565px) and (min-width:320px){
    .Content-container{
        width: 90% !important;
    }
    .Login-container{
        background-image: none !important;
    }
    .Inner_Contaner{
      width: 100vw !important;
    }
    .User-img-width{
      width: 35px !important;
    height: 37px !important;
    padding: 5px 8px 8px 8px !important;
    }
    .Dasboard-p{
      font-size: 1.2vh !important;
      -webkit-line-clamp: 3 !important;
    }
    .normal-p-tag{
      font-size: 1.2vh !important;
    }
    .UserName,.asign-btn{
      font-size: 1.4vh !important;
    }
    .UserInfo-div i,.Sidemenu-conrainer nav ul li,.Sidemenu-conrainer nav ul li i{
      font-size: 1.6vh !important;
    }
    .Sidemenu-conrainer{
      width: 100vw !important;
    }
    .menuIcon{
      right: 6px !important;
    top: 1px !important;
    }
    .height-contentdiv{
      height: auto !important;
    }
    .Ticketcount{
      font-size: 1vh !important;
    }
}
.Login-container{
    background-image: url('../images/ticket-management.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Content-container{
    width: 50%;
    margin: auto !important;
    background-color: #0B131E;
    border-radius: 5px;
    border: 2px solid #0B131E;
    // transition: 0.3s ease;
}
.Welcomecontainer{
    width: 100%;
    color: #fff;
    padding: 10px;
    h3{
        margin-bottom: 0;
    }
    h1{
        margin-bottom: 0;
        color: #f7dc48;
        animation: mymove 3s;
        animation-fill-mode: backwards;
        font-weight: 900;
        // animation-fill-mode: ;
        position: relative;
    }
}
.Login-Input-fields{
    background-color: #fff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding: 10px;
    height: 100%;
}
.styled-input {
    padding: 5px 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s ease, box-shadow 0.3s ease;
  }
  
  .styled-input:focus {
    border-color: #63E3FF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .Login-btn button{
    border: none;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 600;
    background-color: #0095FF;
    color: #fff;
    transition: border-color 0.3s ease, box-shadow 0.3s ease, width 1s ease;
  }
  .Login-btn button:hover{
    border-color: #63E3FF;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
  }
  .ticket-image{
    width: 60%;
  }
  .error-class{
    color: red;
  }
  .Header-container{
    padding: 10px 35px;
    background: #35455E;
    position: sticky;
    top: 0;
    z-index: 9999999;
  }
  .UserInfo-div{
    i{
        color: #fff;
        font-size: 1.6vw;
        cursor: pointer;
    }
  }
  .UserName{
    color: #fff;
    font-size: 1.2vw;
    margin-left: 5%;
    margin-right: 5%;
  }
  .Sidemenu-conrainer{
    width: 12vw;
    background: #35455E;
    position: absolute;
    z-index: 99;
  }
  .Sidemenu-conrainer nav ul{
    padding: 0;
    margin-bottom: 0;
  }
  .Sidemenu-conrainer nav ul li{
    list-style: none;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 1vw;
    text-align: left;
    padding-left: 20px;
    display: flex;
    align-items: center;
  }
  .Sidemenu-conrainer nav ul li i{
    margin-right: 10%;
    font-size: 1.5vw;
  }
  .Inner_Contaner{
    width: 88vw;
    margin-left: auto;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
  }
  .Heading-h2{
    color: #fff;
    text-transform: uppercase;
  }
  .Inside-Content-container{
    width: 100%;
    margin: auto;
    border-radius: 5px;
    overflow-x: auto;
    background-color: #303030;
    padding: 10px;
    min-height: 10vw;
  }
  .content-div{
    padding: 15px;
    border-radius: 5px;
    background-color: #161616;
    // height: 100%;
  }
  .Btn-class{
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #E4D161;
    color: #fff;
    font-weight: 600;
  }
  .Heading-h4{
    color: #fff;
  }
  .Dasboard-p{
    font-size: 0.9vw;
    color: #fff;
    word-break: break-word;
    display: -webkit-box;
  -webkit-line-clamp: 3;     
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  }
  .normal-p-tag{
    font-size: 0.9vw;
    color: #fff;
    word-break: break-word;
  }
  .font-bold{
    font-weight: 900;
  }
 
/* Base scrollbar style */
.Inside-Content-container {
  // height: 200px;
  // overflow-x: scroll;
  scrollbar-width: thin; /* Firefox */
  scrollbar-color: #0095FF #f1f1f1; /* Firefox */
}
.User-img-width{
  width: 67px;
    height: 67px;
    padding: 15px;
    background-color: #fff;
    border-radius: 50%;
}
.Edit-dlt i {
  color: #fff;
  cursor: pointer;
}
.asign-btn{
  border: none;
  border-radius: 5px;
  padding: 0px 10px;
  color: #fff;
  font-weight: 800;
  background-color: #6613A8;
  font-size: 1vw;
}
.UserCard{
  border-radius: 5px;
  padding: 10px;
  background-color: #38414F;
  position: relative;
  transition-duration: 2s;
}
.menuIcon{
  position: absolute;
  color: #fff;
  right: 10px;
  top: 5px;
  cursor: pointer;
}
.font-weight-700{
  font-weight: 700;
}
.Inner-pages-container{
  width: 100%;
    margin: auto;
    border-radius: 5px;
    background-color: #303030;
    padding: 10px;
}
.height-contentdiv{
  height: 30vw;
  overflow: auto;
  width: 100%;
}
.Profile-img-div{
  background-color: #0095FF;
    color: #fff;
    position: relative;
    width: fit-content;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.Profile-img-div input{
  opacity: 0;
    position: absolute;
    width: 100%;
    left: 0;
    cursor: pointer;
}
.width-settings{
  width: 50%;
}
.styled-input:disabled{
  background-color: #fff !important;
}
#Setnew-height{
  overflow-y: auto;
  margin: auto;
}
.no-record-clr{
  color: #fff;
}
.word-break-dash{
  word-break: break-all !important;
}
.Redclr{
  color: red !important;
  font-weight: 700;
}
.YellowClr{
  color: #f7dc48 !important;
  font-weight: 700;
}
.greenclr{
  color: green;
  font-weight: 700;
}
#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
  cursor: pointer;
}
.tansform{
  box-shadow: 5px 5px 5px 2px red;
}
.Total-Ticket{
  width: 100%;
  background: red;
  position: relative;
  color: transparent;
  border-radius: 10px;
  height: 1vw;
  // transition-duration: 2s;
}
.total-tickerbg{
  background: red;

}
.Resolved-ticket{
    background: green;
    // transition-duration: 5s;
}
.Inprogress-ticket{
    background: yellow;
    // transition-duration: 5s;
    
}
.spanidstyle{
    top: 0;
    left: 0;
    border-radius: 10px;
    position: absolute;
    height: 1vw;
    
}
.Ticketcount{
  color: #fff;
  font-size: 1.2vw;
  font-weight: 700;
}
.box-height-width{
  height: 15px;
  width: 15px;
}
// <div id="overlay" onclick="off()"></div>